.tagContainer {
  color: white;
  background-color: $colorPrimary;
  min-width: 130px;
  font-size: 1rem;
  margin-right: 10px;
  text-align: center;
  padding: 7px;
  border-radius: 10px;
}

@media screen AND (max-width: 768px) {
  .tagContainer {
    width: 84px;
    min-width: unset;
    height: 18px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
