.ratingContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row nowrap;

  .colorStar {
    color: $colorPrimary;
    font-size: 1.5rem;
    margin-left: 5px;
  }

  .greyStar {
    color: $colorBackgroundLight;
    font-size: 1.5rem;
    margin-left: 5px;
  }
}
