.homeLogementContainer {
  background-color: $colorBackgroundLight;
  width: 100%;
  height: auto;
  border-radius: 25px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

@media screen AND (max-width: 768px) {
  .homeLogementContainer {
    background-color: unset;
  }
}
