.footerContainer {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  color: white;
  height: 100%;
}

@media screen AND (max-width: 768px) {
  .footerContainer {
    font-size: 12px;
  }
}
